.backdrop {
  position: fixed;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  visibility: visible;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: $bg-color-backdrop;

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
