.header__logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);

    &--first {
            color: var(--accent-color);
        }
    
    &--second {
        color: var(--primary-text-color);
    }
}


.footer__logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);

    &--first {
        color: var(--accent-color);
    }
    
    &--second {
        color: var(--white-text);
    }
}

