.menu-button {
    padding: 0;

    border: none;
    background-color: $bg-color-primary;
    cursor: pointer;

    @media screen and (min-width: $tablet-min) {
        display: none;
    }

    &--close {
        position: absolute;
        top: 10px;
        right: 15px;
    }
    
    &:hover .menu-button__icon,
    &:focus .menu-button__icon {
        fill: $text-color-accent;
    }
}