.modal{
    &__backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.is-hidden .modal__window {
            transform: translate(-50%, -50%) scale(0.7);
        }
    }

    &__window {
        width: 528px;
        height: 581px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    &__close-sign {
        position: absolute;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }   

    &__content {
        padding: 40px;
    }

    &__title {
        margin: 0px;
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: calc(23 / 20);
        text-align: center;
    }        
}

.form{

    &__label {
        display: block;
        margin-bottom: 4px;

        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: var(--secondary-text-color);
    }

    &__wrapper {
        position: relative;
        margin-bottom: 10px;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin-left: 15px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input {
        padding: 12px 0px 12px 0px;
        padding-left: 42px;

        width: 448px;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            outline: none;
            border: 1px solid var(--accent-color);
        }
        &:focus+.form__icon {
            fill: var(--accent-color);
        }
        &--comment {
            margin-bottom: 20px;
            padding: 12px 16px;
            width: 448px;
            height: 120px;
            resize: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &--comment:focus {
            outline: none;
            border: 1px solid var(--accent-color);
        }

        &--comment::placeholder {
            font-size: 12px;
            line-height: calc(14 / 12);
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
    } 
    &__btn-wrap {
        display: flex;
        justify-content: center;
    }

    &__button {
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;
        color: var(--white-text);
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background: #188ce8;
        }
    }    
}

.form-checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    &__label {
        display: flex;
        align-items: center;

        font-size: 14px;
        line-height: calc(24 / 14);
        color: var(--secondary-text-color);
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: transparent;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__wrapper {
        margin-right: 7px;
        position: relative;
        width: 16px;
        height: 15px;
        border: 2px solid var(--primary-text-color);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input {
        appearance: none;
    }

    &__input:checked+&__label &__wrapper {
        background-color: var(--accent-color);
        border: none;
    }

    &__input:checked+&__label &__icon {
        fill: var(--white-text);
    }
}
