.site-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $bg-color-dark;
}

.site-footer__container {
    text-align: center;

    @media screen and (min-width: $desktop-min) {
        display: flex;
        align-items: baseline;

        text-align: left;
    }
}

.site-footer__links-section {
    @media screen and (min-width: $tablet-min) {
        display: flex;
        align-items: baseline;

        @media screen and (max-width: $tablet-max) {
            justify-content: center;
        }
    }
}

.site-footer__logo {
    color: $text-color-footer;

    @media screen and (max-width: $tablet-max) {
        font-size: 24px;
        line-height: 1.17;
    }
}

.site-footer__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $text-color-footer;

    @media screen and (max-width: $tablet-max) {
        line-height: 1.17;
    }
}

.site-footer__social-buttons {
    @media screen and (max-width: $mobile-max) {
        margin-top: 60px;
    }

    @media screen and (min-width: $tablet-min) {
        margin-left: 165px;
    }

    @media screen and (min-width: $desktop-min) {
        margin-left: 94px;
    }
}

.site-footer__social-list {
    justify-content: center;

    margin-top: 20px;

    @media screen and (min-width: $desktop-min) {
        justify-content: flex-start;
    }
}

.site-footer__social-link {
    color: $text-color-footer;
    background-color: rgba(255, 255, 255, 0.1);
}

.site-footer__subscription {
    margin-top: 60px;

    @media screen and (min-width: $desktop-min) {
        margin-top: 0;
        margin-left: 93px;
    }
}

.footer-contacts {
    margin-top: 20px;
}

.footer-contacts__item:not(:first-child) {
    margin-top: 9px;
}

.footer-contacts__link {
    font-style: normal;
    text-decoration: none;

    color: $text-color-contacts;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $text-color-accent;
    }

    &--address {
        color: $text-color-address;
    }
}

.subscription__form-group {
    margin-top: 20px;

    @media screen and (min-width: $desktop-min) {
        display: flex;
    }
}

.subscription__email-input {
    padding-left: 16px;
    padding-right: 16px;
    height: 50px;
    width: 100%;

    color: $text-color-subscription-input;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    &,
    &::placeholder {
        font-size: 12px;
        line-height: 1.25;
    }

    &::placeholder {
        color: $text-color-subscription-placeholder;
    }

    &:focus,
    &:focus-visible {
        border-color: $input-border-color-focused;
        outline: none;
    }

    @media screen and (min-width: $tablet-min) {
        display: block;

        margin-left: auto;
        margin-right: auto;

        width: 450px;
    }

    @media screen and (min-width: $desktop-min) {
        max-width: 358px;
    }
}

.subscription__submit-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    padding-left: 28px;
    padding-right: 28px;

    @media screen and (min-width: $desktop-min) {
        margin-top: 0;
        margin-left: 12px;
    }
}

.subscription__icon {
    margin-left: 10px;
}