.about-work {
    margin-bottom: 94px;    


    &__title {
        margin: 0;
        margin-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        text-align: center;
        color: var(--primary-text-color);
    }

    &__tile {
        position: relative;
    }

    &__galery {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        display: block;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        width: 100%;
        height: 70px;
        bottom: 0;
        left: 0;

        background-color: rgba(47, 48, 58, 0.8);
    }

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        text-align: center;
        text-transform: uppercase;
        color: var(--white-text);
    }
}