.section-benefits {
    padding: 94px 0;

    &__list {
        display: flex;
        flex-basis: calc(100% / 4);
    }

    &__item {
        margin-right: 30px;
    }

    &__item:last-child {
        margin-right: 0px;
    }

    &__logo {
        display: flex;
        margin-bottom: 30px;
        width: 270px;
        height: 120px;
        justify-content: center;
        align-items: center;

        background-color: var(--secondary-bacground-color);
        border-radius: 4px;
    }

    &__title {
        margin: 0;
        margin-bottom: 10px;

        font-size: 14px;
        font-weight: 700;
        line-height: calc(16 / 14);
        text-transform: uppercase;
        color: var(--primary-text-color);
    }

    &__text {
        margin: 0;

        font-size: 14px;
        line-height: calc(24 / 14);
        color: var(--secondary-text-color);
    }
}

