h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $text-color-primary;
}

container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: $mobile-fixed;

    @media screen and (max-width: $mobile-fixed) {
        width: 100%;
    }

    @media screen and (min-width: $tablet-min) {
        width: $tablet-min;
    }

    @media screen and (min-width: $desktop-min) {
        width: $desktop-min;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop-min) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.image-block {
    display: block;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width: $desktop-min) {
        font-size: 36px;
    }
}

.visibility-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}